apps/api/src/workflows/agency-b2b-outreach.workflow.json
{
  "name": "B2B Outreach Agent (Apollo)",
  "active": false,
  "nodes": [
    {
      "id": "daily-trigger",
      "name": "Daily Prospecting Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 0 * * 1-5" }]
        }
      }
    },
    {
      "id": "build-search-filters",
      "name": "Build Apollo Search Filters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const titlesRaw = '{{PERSON_TITLES}}';\nconst locationsRaw = '{{PERSON_LOCATIONS}}';\nconst keywordsRaw = '{{KEYWORDS}}';\nconst rangesRaw = '{{EMPLOYEE_RANGES}}';\nconst toArr = (s) => s.split('|').map(v => v.trim()).filter(Boolean);\nconst body = { per_page: 25, page: 1 };\nconst titles = toArr(titlesRaw);\nif (titles.length) body.person_titles = titles;\nconst locations = toArr(locationsRaw);\nif (locations.length) body.person_locations = locations;\nconst keywords = toArr(keywordsRaw);\nif (keywords.length) body.q_keywords = keywords.join(' ');\nconst ranges = toArr(rangesRaw);\nif (ranges.length) body.organization_num_employees_ranges = ranges;\nreturn [{ json: body }];"
      }
    },
    {
      "id": "search-apollo",
      "name": "Apollo - Search Prospects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/api_search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Cache-Control", "value": "no-cache" },
            { "name": "X-Api-Key", "value": "{{APOLLO_API_KEY}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "contentType": "json"
      }
    },
    {
      "id": "filter-new-prospects",
      "name": "Filter New Prospects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst people = data.people || [];\nconst results = people.slice(0, 25).map(p => ({\n  apolloId: p.id,\n  firstName: p.first_name || '',\n  lastName: p.last_name || '',\n  name: p.name || '',\n  title: p.title || '',\n  city: p.city || '',\n  state: p.state || '',\n  country: p.country || '',\n  companyName: p.organization?.name || '',\n  companyWebsite: p.organization?.website_url || '',\n  industry: p.organization?.industry || '',\n  employeeCount: p.organization?.estimated_num_employees || 0\n}));\nreturn results.map(r => ({ json: r }));"
      }
    },
    {
      "id": "enrich-prospect",
      "name": "Enrich All Prospects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "jsCode": "const apiKey = '{{APOLLO_API_KEY}}';\nconst results = [];\nfor (const item of $input.all()) {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.apollo.io/api/v1/people/match',\n      headers: { 'X-Api-Key': apiKey, 'Content-Type': 'application/json' },\n      body: { id: item.json.apolloId, reveal_personal_emails: true },\n      json: true\n    });\n    const p = res.person;\n    if (!p) continue;\n    const email = p.email || (p.personal_emails && p.personal_emails[0]) || '';\n    if (!email) continue;\n    results.push({ json: {\n      apolloId: p.id,\n      firstName: p.first_name || '',\n      lastName: p.last_name || '',\n      name: p.name || '',\n      title: p.title || '',\n      email: email,\n      phone: (p.phone_numbers && p.phone_numbers[0]?.sanitized_number) || '',\n      companyName: p.organization?.name || '',\n      industry: p.organization?.industry || '',\n      employeeCount: p.organization?.estimated_num_employees || 0\n    } });\n  } catch (e) { /* skip failed enrichments */ }\n  await new Promise(r => setTimeout(r, 500));\n}\nreturn results;"
      }
    },
    {
      "id": "process-contacts",
      "name": "Save, Email and Score Each Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300],
      "parameters": {
        "jsCode": "const apiBase = '{{API_BASE_URL}}';\nconst clientId = '{{CLIENT_ID}}';\nconst apiSecret = '{{N8N_API_SECRET}}';\nconst n8nBase = '{{N8N_BASE_URL}}';\nconst template = '{{AGENT_PROMPT}}';\nconst headers = { 'x-api-secret': apiSecret, 'Content-Type': 'application/json' };\nconst results = [];\n\nfor (const item of $input.all()) {\n  const c = item.json;\n  try {\n    // 1. Save to CRM\n    const saveRes = await this.helpers.httpRequest({\n      method: 'POST',\n      url: apiBase + '/n8n/' + clientId + '/contacts',\n      headers,\n      body: { name: c.name, email: c.email, phone: c.phone, source: 'apollo', tags: ['apollo-prospect', c.industry || 'unknown'], summary: (c.title || '') + ' at ' + (c.companyName || '') },\n      json: true\n    });\n    const contactId = saveRes.id || '';\n\n    // 2. Build personalised message\n    const message = template\n      .replace(/\\{\\{firstName\\}\\}/g, c.firstName || '')\n      .replace(/\\{\\{title\\}\\}/g, c.title || '')\n      .replace(/\\{\\{companyName\\}\\}/g, c.companyName || '');\n\n    // 3. Send outreach email\n    if (c.email) {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: apiBase + '/n8n/' + clientId + '/messages/email',\n        headers,\n        body: { contactId, to: c.email, subject: 'Quick question, ' + (c.firstName || c.name || ''), body: message },\n        json: true\n      }).catch(() => {});\n    }\n\n    // 4. Forward to lead scoring\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: n8nBase + '/webhook/lead-gen-' + clientId,\n      headers: { 'Content-Type': 'application/json' },\n      body: { contactId, name: c.name, email: c.email, phone: c.phone, source: 'apollo', title: c.title, companyName: c.companyName, industry: c.industry },\n      json: true\n    }).catch(() => {});\n\n    results.push({ json: { contactId, name: c.name, email: c.email, status: 'processed' } });\n  } catch (e) {\n    results.push({ json: { name: c.name, email: c.email, status: 'failed', error: String(e).substring(0, 200) } });\n  }\n  // Rate limit: 1 second between contacts\n  await new Promise(r => setTimeout(r, 1000));\n}\nreturn results;"
      }
    }
  ],
  "connections": {
    "Daily Prospecting Trigger": {
      "main": [[{ "node": "Build Apollo Search Filters", "type": "main", "index": 0 }]]
    },
    "Build Apollo Search Filters": {
      "main": [[{ "node": "Apollo - Search Prospects", "type": "main", "index": 0 }]]
    },
    "Apollo - Search Prospects": {
      "main": [[{ "node": "Filter New Prospects", "type": "main", "index": 0 }]]
    },
    "Filter New Prospects": {
      "main": [[{ "node": "Enrich All Prospects", "type": "main", "index": 0 }]]
    },
    "Enrich All Prospects": {
      "main": [[{ "node": "Save, Email and Score Each Contact", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
