apps/api/src/workflows/agency-lead-generation.workflow.json
{
  "name": "Lead Generation Agent",
  "active": false,
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 400],
      "disabled": true,
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 2 }]
        }
      }
    },
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 200],
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-gen-{{CLIENT_ID}}",
        "options": {}
      },
      "webhookId": "lead-gen-{{CLIENT_ID}}"
    },
    {
      "id": "fetch-leads",
      "name": "Fetch Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 400],
      "parameters": {
        "method": "GET",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" }]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "stage", "value": "new" },
            { "name": "limit", "value": "50" }
          ]
        }
      }
    },
    {
      "id": "prepare-lead-data",
      "name": "Prepare Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst input = raw.body || raw;\nlet lead;\nif (Array.isArray(input.contacts)) {\n  lead = input.contacts[0] || null;\n} else {\n  lead = input;\n}\nif (!lead || (!lead.name && !lead.email && !lead.phone)) return [];\nreturn [{ json: { lead } }];"
      }
    },
    {
      "id": "save-contact",
      "name": "Save Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 300],
      "parameters": {
        "method": "POST",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $('Prepare Lead Data').first().json.lead.name || '', email: $('Prepare Lead Data').first().json.lead.email || '', phone: $('Prepare Lead Data').first().json.lead.phone || '', source: $('Prepare Lead Data').first().json.lead.source || 'Lead Form', title: $('Prepare Lead Data').first().json.lead.title || '', companyName: $('Prepare Lead Data').first().json.lead.companyName || '', industry: $('Prepare Lead Data').first().json.lead.industry || '', tags: ['unscored'] }) }}"
      }
    },
    {
      "id": "build-claude-request",
      "name": "Build Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "jsCode": "const icpDescription = '{{ICP_DESCRIPTION}}';\nconst lead = $('Prepare Lead Data').first().json.lead;\nconst contactId = $('Save Contact').first().json.id || '';\nif (!lead) return [];\nreturn [{\n  json: {\n    contactId,\n    claudeRequest: {\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 1024,\n      system: 'You are a lead qualification specialist. ICP: ' + icpDescription + '. Score leads 0-100 based on ICP fit. Respond ONLY with valid JSON.',\n      messages: [{\n        role: 'user',\n        content: 'Score this lead and return ONLY valid JSON with no extra text:\\n{\"score\": <0-100>, \"summary\": \"<2-sentence qualification summary>\", \"nextAction\": \"<recommended next step>\", \"tags\": [\"<tag1>\", \"<tag2>\"]}\\n\\nLead data:\\n' + JSON.stringify(lead, null, 2)\n      }]\n    }\n  }\n}];"
      }
    },
    {
      "id": "claude-score-lead",
      "name": "Claude AI - Score Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 300],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 15000,
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "{{ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.claudeRequest) }}"
      }
    },
    {
      "id": "parse-score",
      "name": "Parse Lead Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 300],
      "parameters": {
        "jsCode": "const response = $input.first().json;\n// Recover contactId from Build Claude Request node (survives through HTTP call via $json reference)\nconst contactId = $('Build Claude Request').first().json.contactId || '';\nconst text = (response.content && response.content[0] && response.content[0].text) ? response.content[0].text.trim() : '';\nif (!text) return [{ json: { score: 0, summary: 'No response from Claude', nextAction: 'Manual review required', tags: ['needs-review'], contactId } }];\nlet result;\ntry {\n  const clean = text.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n  result = JSON.parse(clean);\n} catch {\n  result = { score: 0, summary: 'Could not parse AI response', nextAction: 'Manual review required', tags: ['needs-review'] };\n}\nconst score = Math.min(100, Math.max(0, parseInt(result.score) || 0));\nconst tags = Array.isArray(result.tags) ? result.tags : [];\nif (score >= 70 && !tags.includes('hot')) tags.push('hot');\nelse if (score >= 40 && !tags.includes('warm')) tags.push('warm');\nelse if (score < 40 && !tags.includes('cold')) tags.push('cold');\nreturn [{ json: { score, summary: result.summary || '', nextAction: result.nextAction || '', tags, contactId } }];"
      }
    },
    {
      "id": "route-by-score",
      "name": "Route by Score",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [2000, 300],
      "parameters": {
        "dataType": "number",
        "value1": "={{$json.score}}",
        "rules": {
          "rules": [
            { "operation": "larger", "value2": 70, "output": 0 },
            { "operation": "larger", "value2": 39, "output": 1 }
          ]
        },
        "fallbackOutput": 2
      }
    },
    {
      "id": "update-lead-high",
      "name": "Update Lead - High Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2250, 150],
      "parameters": {
        "method": "PATCH",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts/score",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ contactId: $json.contactId, score: $json.score, tags: $json.tags, summary: $json.summary, nextAction: $json.nextAction }) }}"
      }
    },
    {
      "id": "notify-appointment-setter",
      "name": "Notify Appointment Setter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2500, 150],
      "parameters": {
        "method": "POST",
        "url": "{{N8N_BASE_URL}}/webhook/appointments-{{CLIENT_ID}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contactId: $('Parse Lead Score').first().json.contactId, score: $('Parse Lead Score').first().json.score, summary: $('Parse Lead Score').first().json.summary, nextAction: $('Parse Lead Score').first().json.nextAction, contactName: $('Prepare Lead Data').first().json.lead.name || '', contactEmail: $('Prepare Lead Data').first().json.lead.email || '', contactPhone: $('Prepare Lead Data').first().json.lead.phone || '' }) }}"
      }
    },
    {
      "id": "update-lead-medium",
      "name": "Update Lead - Medium Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2250, 300],
      "parameters": {
        "method": "PATCH",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts/score",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ contactId: $json.contactId, score: $json.score, tags: $json.tags, summary: $json.summary, nextAction: $json.nextAction }) }}"
      }
    },
    {
      "id": "update-lead-low",
      "name": "Update Lead - Low Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2250, 450],
      "parameters": {
        "method": "PATCH",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts/score",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ contactId: $json.contactId, score: $json.score, tags: $json.tags, summary: $json.summary, nextAction: $json.nextAction }) }}"
      }
    },
    {
      "id": "notify-outbound-queue",
      "name": "Notify Voice Outbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2500, 300],
      "parameters": {
        "method": "POST",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/outbound-queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contactId: $('Parse Lead Score').first().json.contactId, score: $('Parse Lead Score').first().json.score, summary: $('Parse Lead Score').first().json.summary, nextAction: $('Parse Lead Score').first().json.nextAction, contactName: $('Prepare Lead Data').first().json.lead.name || '', contactEmail: $('Prepare Lead Data').first().json.lead.email || '', contactPhone: $('Prepare Lead Data').first().json.lead.phone || '' }) }}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Fetch Leads", "type": "main", "index": 0 }]]
    },
    "Webhook Trigger": {
      "main": [[{ "node": "Prepare Lead Data", "type": "main", "index": 0 }]]
    },
    "Fetch Leads": {
      "main": [[{ "node": "Prepare Lead Data", "type": "main", "index": 0 }]]
    },
    "Prepare Lead Data": {
      "main": [[{ "node": "Save Contact", "type": "main", "index": 0 }]]
    },
    "Save Contact": {
      "main": [[{ "node": "Build Claude Request", "type": "main", "index": 0 }]]
    },
    "Build Claude Request": {
      "main": [[{ "node": "Claude AI - Score Lead", "type": "main", "index": 0 }]]
    },
    "Claude AI - Score Lead": {
      "main": [[{ "node": "Parse Lead Score", "type": "main", "index": 0 }]]
    },
    "Parse Lead Score": {
      "main": [[{ "node": "Route by Score", "type": "main", "index": 0 }]]
    },
    "Route by Score": {
      "main": [
        [{ "node": "Update Lead - High Score", "type": "main", "index": 0 }],
        [{ "node": "Update Lead - Medium Score", "type": "main", "index": 0 }],
        [{ "node": "Update Lead - Low Score", "type": "main", "index": 0 }]
      ]
    },
    "Update Lead - High Score": {
      "main": [[{ "node": "Notify Appointment Setter", "type": "main", "index": 0 }]]
    },
    "Update Lead - Medium Score": {
      "main": [[{ "node": "Notify Voice Outbound", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
