apps/api/src/workflows/appointment-setter.workflow.json
{
  "name": "Appointment Setter Agent",
  "active": false,
  "nodes": [
    {
      "id": "new-lead-webhook",
      "name": "New Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 200],
      "parameters": {
        "httpMethod": "POST",
        "path": "appointments-{{CLIENT_ID}}",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "webhookId": "appointments-{{CLIENT_ID}}"
    },
    {
      "id": "get-contact-details",
      "name": "Get Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 200],
      "parameters": {
        "method": "GET",
        "url": "={{ '{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts/' + $json.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" }
          ]
        }
      }
    },
    {
      "id": "build-followup-request",
      "name": "Build Follow-up Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 200],
      "parameters": {
        "jsCode": "const contact = $input.first().json.contact || $input.first().json;\nconst businessName = \"{{BUSINESS_NAME}}\";\nreturn [{\n  json: {\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 500,\n    system: 'You are a friendly appointment-setting assistant for ' + businessName + '. Your job is to write short, warm, conversational follow-up SMS messages to new leads. Always personalise with their first name if available. Keep messages under 160 characters. Return ONLY the SMS message text — no explanation, no quotes, no markdown.',\n    messages: [{\n      role: 'user',\n      content: 'Write a follow-up SMS for this new lead to invite them to book a time with us.\\n\\nLead details:\\n' + JSON.stringify(contact)\n    }]\n  }\n}];"
      }
    },
    {
      "id": "claude-write-followup",
      "name": "Claude - Write Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "{{ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      }
    },
    {
      "id": "parse-followup",
      "name": "Parse Follow-up Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200],
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text.trim();\nconst contactId = $('New Lead Webhook').first().json.contactId;\nreturn [{ json: { message: text, contactId } }];"
      }
    },
    {
      "id": "send-sms",
      "name": "Send Follow-up SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 200],
      "parameters": {
        "method": "POST",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contactId: $json.contactId, type: 'SMS', message: $json.message }) }}"
      }
    },
    {
      "id": "reply-handler-webhook",
      "name": "Handle Lead Reply",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "parameters": {
        "httpMethod": "POST",
        "path": "appt-reply-{{CLIENT_ID}}",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "webhookId": "appt-reply-{{CLIENT_ID}}"
    },
    {
      "id": "build-classify-request",
      "name": "Build Classify Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 500],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst body = data.body || data;\nconst message = body.message || '';\nreturn [{\n  json: {\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 500,\n    system: 'You are a reply classifier for a sales appointment workflow. Analyse the lead reply and return ONLY valid JSON — no markdown, no explanation, no code fences.',\n    messages: [{\n      role: 'user',\n      content: 'Classify this reply from a lead and decide the next action. Return ONLY valid JSON with this exact structure: {\"appointmentRequested\":true or false,\"intent\":\"interested|not_interested|needs_more_info|other\",\"responseMessage\":\"a brief friendly reply to send them\"}\\n\\nLead reply: ' + message\n    }]\n  }\n}];"
      }
    },
    {
      "id": "claude-classify-reply",
      "name": "Claude - Classify Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 500],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "{{ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      }
    },
    {
      "id": "parse-classification",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 500],
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text.trim();\nconst replyData = $('Handle Lead Reply').first().json;\nconst body = replyData.body || replyData;\nconst contactId = body.contactId || '';\nlet result;\ntry {\n  const clean = text.replace(/^```json\\s*/, '').replace(/```\\s*$/, '');\n  result = JSON.parse(clean);\n} catch {\n  result = { appointmentRequested: false, intent: 'other', responseMessage: '' };\n}\nresult.contactId = contactId;\nreturn [{ json: result }];"
      }
    },
    {
      "id": "check-appointment",
      "name": "Appointment Requested?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 500],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.appointmentRequested }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "check-calendar",
      "name": "Get Calendar Slots",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 400],
      "parameters": {
        "method": "GET",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/calendar-slots",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "calendarId", "value": "{{CALENDAR_ID}}" }
          ]
        }
      }
    },
    {
      "id": "book-appointment",
      "name": "Book Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1750, 400],
      "parameters": {
        "method": "POST",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/appointments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contactId: $('Parse Classification').first().json.contactId, calendarId: '{{CALENDAR_ID}}', startTime: $json.slots && $json.slots[0] ? $json.slots[0] : null, title: 'Appointment via AI Agent' }) }}"
      }
    },
    {
      "id": "get-contact-for-email",
      "name": "Get Contact for Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 400],
      "parameters": {
        "method": "GET",
        "url": "={{ '{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts/' + $('Parse Classification').first().json.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" }
          ]
        }
      }
    },
    {
      "id": "build-confirmation-email",
      "name": "Build Confirmation Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 400],
      "parameters": {
        "jsCode": "const contact = $input.first().json.contact || {};\nconst appt = $('Book Appointment').first().json;\nconst contactId = $('Parse Classification').first().json.contactId;\nconst businessName = \"{{BUSINESS_NAME}}\";\nconst name = contact.name || contact.firstname || 'there';\nconst email = contact.email || '';\nconst startTime = appt.startTime || '';\nlet formattedTime = 'to be confirmed';\nif (startTime) {\n  try {\n    formattedTime = new Date(startTime).toLocaleString('en-AU', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' });\n  } catch {}\n}\nconst html = '<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px\">'\n  + '<div style=\"background:linear-gradient(135deg,#667eea 0%,#764ba2 100%);padding:30px;border-radius:10px;text-align:center;margin-bottom:30px\">'\n  + '<h1 style=\"color:white;margin:0\">Appointment Confirmed!</h1></div>'\n  + '<p style=\"font-size:16px;color:#333\">Hi ' + name + ',</p>'\n  + '<p style=\"font-size:16px;color:#333\">Your appointment with <strong>' + businessName + '</strong> has been confirmed.</p>'\n  + '<div style=\"background:#f8f9fa;border-left:4px solid #667eea;padding:20px;margin:20px 0;border-radius:0 8px 8px 0\">'\n  + '<p style=\"margin:0;font-size:18px;color:#333\"><strong>Date &amp; Time:</strong> ' + formattedTime + '</p></div>'\n  + '<p style=\"font-size:14px;color:#666\">We will send you an SMS reminder before your appointment. If you need to reschedule please reply to this email.</p>'\n  + '<p style=\"font-size:14px;color:#666\">Looking forward to speaking with you!<br><strong>The ' + businessName + ' Team</strong></p></div>';\nreturn [{ json: { to: email, subject: 'Your appointment with ' + businessName + ' is confirmed!', html, contactId, name, startTime } }];"
      }
    },
    {
      "id": "send-confirmation-email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2500, 400],
      "parameters": {
        "method": "POST",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/messages/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.to, subject: $json.subject, body: $json.html, contactId: $json.contactId }) }}"
      }
    },
    {
      "id": "wait-for-reminder",
      "name": "Wait 23 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2750, 400],
      "parameters": {
        "resume": "timeInterval",
        "amount": 23,
        "unit": "hours"
      }
    },
    {
      "id": "build-reminder-sms",
      "name": "Build Reminder SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 400],
      "parameters": {
        "jsCode": "const data = $('Build Confirmation Email').first().json;\nconst businessName = \"{{BUSINESS_NAME}}\";\nconst name = data.name || 'there';\nconst startTime = data.startTime || '';\nlet timeStr = 'today';\nif (startTime) {\n  try {\n    timeStr = new Date(startTime).toLocaleTimeString('en-AU', { hour: '2-digit', minute: '2-digit' });\n  } catch {}\n}\nreturn [{ json: { contactId: data.contactId, type: 'SMS', message: 'Hi ' + name + ', just a reminder about your call with ' + businessName + ' tomorrow at ' + timeStr + '. See you then!' } }];"
      }
    },
    {
      "id": "send-reminder-sms",
      "name": "Send Reminder SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3250, 400],
      "parameters": {
        "method": "POST",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      }
    }
  ],
  "connections": {
    "New Lead Webhook": {
      "main": [[{ "node": "Get Contact", "type": "main", "index": 0 }]]
    },
    "Get Contact": {
      "main": [[{ "node": "Build Follow-up Request", "type": "main", "index": 0 }]]
    },
    "Build Follow-up Request": {
      "main": [[{ "node": "Claude - Write Follow-up", "type": "main", "index": 0 }]]
    },
    "Claude - Write Follow-up": {
      "main": [[{ "node": "Parse Follow-up Message", "type": "main", "index": 0 }]]
    },
    "Parse Follow-up Message": {
      "main": [[{ "node": "Send Follow-up SMS", "type": "main", "index": 0 }]]
    },
    "Handle Lead Reply": {
      "main": [[{ "node": "Build Classify Request", "type": "main", "index": 0 }]]
    },
    "Build Classify Request": {
      "main": [[{ "node": "Claude - Classify Reply", "type": "main", "index": 0 }]]
    },
    "Claude - Classify Reply": {
      "main": [[{ "node": "Parse Classification", "type": "main", "index": 0 }]]
    },
    "Parse Classification": {
      "main": [[{ "node": "Appointment Requested?", "type": "main", "index": 0 }]]
    },
    "Appointment Requested?": {
      "main": [
        [{ "node": "Get Calendar Slots", "type": "main", "index": 0 }],
        []
      ]
    },
    "Get Calendar Slots": {
      "main": [[{ "node": "Book Appointment", "type": "main", "index": 0 }]]
    },
    "Book Appointment": {
      "main": [[{ "node": "Get Contact for Email", "type": "main", "index": 0 }]]
    },
    "Get Contact for Email": {
      "main": [[{ "node": "Build Confirmation Email", "type": "main", "index": 0 }]]
    },
    "Build Confirmation Email": {
      "main": [[{ "node": "Send Confirmation Email", "type": "main", "index": 0 }]]
    },
    "Send Confirmation Email": {
      "main": [[{ "node": "Wait 23 Hours", "type": "main", "index": 0 }]]
    },
    "Wait 23 Hours": {
      "main": [[{ "node": "Build Reminder SMS", "type": "main", "index": 0 }]]
    },
    "Build Reminder SMS": {
      "main": [[{ "node": "Send Reminder SMS", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
