apps/api/src/workflows/lead-generation.workflow.json
{
  "name": "Lead Generation Agent",
  "active": false,
  "nodes": [
    {
      "id": "trigger-node",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 2 }]
        }
      }
    },
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 150],
      "parameters": {
        "path": "lead-gen-{{CLIENT_ID}}",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "webhookId": "lead-gen-{{CLIENT_ID}}"
    },
    {
      "id": "fetch-leads",
      "name": "Fetch Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "={{$env.API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "={{$env.N8N_API_SECRET}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "stage", "value": "new" },
            { "name": "limit", "value": "50" }
          ]
        }
      }
    },
    {
      "id": "claude-score-lead",
      "name": "Claude AI - Score Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":1024,\"system\":\"{{AGENT_PROMPT}}\",\"messages\":[{\"role\":\"user\",\"content\":\"Score this lead 0-100. Return JSON: { score, summary, nextAction, tags[] }. Lead: \" + JSON.stringify($json.contacts?.[0])}]}"
      }
    },
    {
      "id": "parse-score",
      "name": "Parse Lead Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text;\nlet result;\ntry { result = JSON.parse(text); } catch { result = { score: 0, summary: 'Parse error', nextAction: 'manual review', tags: [] }; }\nconst contacts = $('Fetch Leads').first().json.contacts || [];\nconst contactId = contacts[0]?.id || '';\nreturn [{ json: { ...result, contactId } }];"
      }
    },
    {
      "id": "route-by-score",
      "name": "Route by Score",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1250, 300],
      "parameters": {
        "dataType": "number",
        "value1": "={{$json.score}}",
        "rules": {
          "rules": [
            { "operation": "larger", "value2": 70, "output": 0 },
            { "operation": "larger", "value2": 40, "output": 1 }
          ]
        },
        "fallbackOutput": 2
      }
    },
    {
      "id": "update-lead-high",
      "name": "Update Lead - High Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 150],
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts/score",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "={{$env.N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contactId\":$json.contactId,\"score\":$json.score,\"tags\":[\"high-score-lead\"],\"summary\":$json.summary,\"nextAction\":$json.nextAction}"
      }
    },
    {
      "id": "notify-appointment-setter",
      "name": "Notify Appointment Setter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1750, 150],
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_WEBHOOK_BASE}}/webhook/appointments-{{CLIENT_ID}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contactId\":$json.contactId,\"score\":$json.score,\"summary\":$json.summary}"
      }
    },
    {
      "id": "update-lead-medium",
      "name": "Update Lead - Medium Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts/score",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "={{$env.N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contactId\":$json.contactId,\"score\":$json.score,\"tags\":[\"medium-score-lead\"],\"summary\":$json.summary}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Fetch Leads", "type": "main", "index": 0 }]]
    },
    "Webhook Trigger": {
      "main": [[{ "node": "Claude AI - Score Lead", "type": "main", "index": 0 }]]
    },
    "Fetch Leads": {
      "main": [[{ "node": "Claude AI - Score Lead", "type": "main", "index": 0 }]]
    },
    "Claude AI - Score Lead": {
      "main": [[{ "node": "Parse Lead Score", "type": "main", "index": 0 }]]
    },
    "Parse Lead Score": {
      "main": [[{ "node": "Route by Score", "type": "main", "index": 0 }]]
    },
    "Route by Score": {
      "main": [
        [{ "node": "Update Lead - High Score", "type": "main", "index": 0 }],
        [{ "node": "Update Lead - Medium Score", "type": "main", "index": 0 }]
      ]
    },
    "Update Lead - High Score": {
      "main": [[{ "node": "Notify Appointment Setter", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
