apps/api/src/workflows/lead-generation.workflow.json
{
  "name": "Lead Generation Agent",
  "active": false,
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        400
      ],
      "disabled": true,
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      }
    },
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-gen-{{CLIENT_ID}}",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "webhookId": "lead-gen-{{CLIENT_ID}}"
    },
    {
      "id": "fetch-leads",
      "name": "Fetch Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "{{N8N_API_SECRET}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "stage",
              "value": "new"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        }
      }
    },
    {
      "id": "prepare-lead-data",
      "name": "Prepare Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\n// N8N wraps webhook POST body under { body: {...} } - unwrap if present\nconst input = raw.body || raw;\n// Webhook gives direct lead object; Fetch Leads gives { contacts: [...] }\nlet lead;\nif (Array.isArray(input.contacts)) {\n  lead = input.contacts[0] || null;\n} else {\n  lead = input;\n}\nif (!lead || (!lead.name && !lead.email && !lead.phone)) return [];\nreturn [{ json: { lead } }];"
      }
    },
    {
      "id": "build-claude-request",
      "name": "Build Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "jsCode": "const icpDescription = \"{{ICP_DESCRIPTION}}\";\nconst item = $input.first();\nif (!item) return [];\nconst lead = item.json.lead;\nif (!lead) return [];\nconst contactId = lead.id || lead.contactId || '';\nreturn [{\n  json: {\n    model: 'claude-sonnet-4-6',\n    max_tokens: 1024,\n    system: 'You are a lead qualification specialist. ICP: ' + icpDescription + '. Score leads 0-100 based on ICP fit. Always return valid JSON only.',\n    messages: [{\n      role: 'user',\n      content: 'Score this lead 0-100. Return ONLY valid JSON: {\"score\":number,\"summary\":\"string\",\"nextAction\":\"string\",\"tags\":[\"string\"],\"contactId\":\"' + contactId + '\"}. Lead: ' + JSON.stringify(lead)\n    }]\n  }\n}];"
      }
    },
    {
      "id": "claude-score-lead",
      "name": "Claude AI - Score Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1250,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "{{ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      }
    },
    {
      "id": "parse-score",
      "name": "Parse Lead Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = (response.content && response.content[0] && response.content[0].text) ? response.content[0].text.trim() : '';\nif (!text) return [{ json: { score: 0, summary: 'No response from Claude', nextAction: 'manual review', tags: [], contactId: '' } }];\nlet result;\ntry {\n  const clean = text.replace(/^```json\\s*/,'').replace(/```\\s*$/,'');\n  result = JSON.parse(clean);\n} catch {\n  result = { score: 0, summary: 'Parse error: ' + text.slice(0, 100), nextAction: 'manual review', tags: [] };\n}\nreturn [{ json: { ...result, contactId: result.contactId || '' } }];"
      }
    },
    {
      "id": "route-by-score",
      "name": "Route by Score",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1750,
        300
      ],
      "parameters": {
        "dataType": "number",
        "value1": "={{$json.score}}",
        "rules": {
          "rules": [
            {
              "operation": "larger",
              "value2": 70,
              "output": 0
            },
            {
              "operation": "larger",
              "value2": 40,
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      }
    },
    {
      "id": "update-lead-high",
      "name": "Update Lead - High Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2000,
        150
      ],
      "parameters": {
        "method": "PATCH",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts/score",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "{{N8N_API_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contactId: $json.contactId, score: $json.score, tags: ['high-score-lead'], summary: $json.summary, nextAction: $json.nextAction }) }}"
      }
    },
    {
      "id": "notify-appointment-setter",
      "name": "Notify Appointment Setter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2250,
        150
      ],
      "parameters": {
        "method": "POST",
        "url": "{{N8N_BASE_URL}}/webhook/appointments-{{CLIENT_ID}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contactId: $json.contactId, score: $json.score, summary: $json.summary }) }}"
      }
    },
    {
      "id": "update-lead-medium",
      "name": "Update Lead - Medium Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts/score",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "{{N8N_API_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contactId: $json.contactId, score: $json.score, tags: ['medium-score-lead'], summary: $json.summary }) }}"
      }
    },
    {
      "id": "update-lead-low",
      "name": "Update Lead - Low Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2000,
        450
      ],
      "parameters": {
        "method": "PATCH",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts/score",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "{{N8N_API_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contactId: $json.contactId, score: $json.score, tags: ['low-score-lead'], summary: $json.summary }) }}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Leads": {
      "main": [
        [
          {
            "node": "Prepare Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lead Data": {
      "main": [
        [
          {
            "node": "Build Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Request": {
      "main": [
        [
          {
            "node": "Claude AI - Score Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI - Score Lead": {
      "main": [
        [
          {
            "node": "Parse Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Lead Score": {
      "main": [
        [
          {
            "node": "Route by Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Score": {
      "main": [
        [
          {
            "node": "Update Lead - High Score",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Lead - Medium Score",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Lead - Low Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead - High Score": {
      "main": [
        [
          {
            "node": "Notify Appointment Setter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}