apps/api/src/workflows/linkedin-outreach.workflow.json
{
  "name": "LinkedIn Outreach Agent",
  "active": false,
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 200],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1-5" }]
        }
      }
    },
    {
      "id": "launch-phantom",
      "name": "Launch Lead Outreach Phantom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/launch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Phantombuster-Key", "value": "{{PHANTOMBUSTER_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "{\"id\":\"{{PHANTOMBUSTER_LEADOUTREACH_ID}}\"}"
      }
    },
    {
      "id": "wait-for-phantom",
      "name": "Wait 15 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [750, 200],
      "parameters": {
        "resume": "timeInterval",
        "amount": 15,
        "unit": "minutes"
      }
    },
    {
      "id": "fetch-output",
      "name": "Fetch Phantom Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 200],
      "parameters": {
        "method": "GET",
        "url": "https://api.phantombuster.com/api/v2/agents/fetch-output?id={{PHANTOMBUSTER_LEADOUTREACH_ID}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Phantombuster-Key", "value": "{{PHANTOMBUSTER_API_KEY}}" }
          ]
        }
      }
    },
    {
      "id": "parse-profiles",
      "name": "Parse Profiles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst resultObject = data.data?.resultObject || data.resultObject || '[]';\nlet profiles = [];\ntry {\n  profiles = typeof resultObject === 'string' ? JSON.parse(resultObject) : resultObject;\n} catch { profiles = []; }\nif (!Array.isArray(profiles) || profiles.length === 0) {\n  return [{ json: { skipped: true, reason: 'No profiles returned from Phantombuster' } }];\n}\nconst valid = profiles.filter(p => !p.error && (p.firstName || p.lastName || p.profileUrl));\nif (valid.length === 0) {\n  return [{ json: { skipped: true, reason: 'All profiles had errors' } }];\n}\nreturn valid.map(p => ({\n  json: {\n    firstName: p.firstName || '',\n    lastName: p.lastName || '',\n    fullName: ((p.firstName || '') + ' ' + (p.lastName || '')).trim() || 'Unknown',\n    headline: p.headline || p.title || '',\n    company: p.company || '',\n    location: p.location || '',\n    profileUrl: p.profileUrl || '',\n    email: p.email || '',\n    connectedAt: p.timestamp || new Date().toISOString()\n  }\n}));"
      }
    },
    {
      "id": "build-claude-request",
      "name": "Build Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 200],
      "parameters": {
        "jsCode": "const profile = $input.first().json;\nif (profile.skipped) return [{ json: profile }];\nconst businessName = \"{{BUSINESS_NAME}}\";\nreturn [{\n  json: {\n    model: 'claude-sonnet-4-6',\n    max_tokens: 300,\n    system: 'You are a LinkedIn outreach specialist for ' + businessName + '. Write a short warm follow-up message for a new LinkedIn connection. Under 200 characters. Human, not salesy. Return ONLY the message — no quotes.',\n    messages: [{ role: 'user', content: 'Write a personalised follow-up for this new connection.\\n\\nProfile: ' + JSON.stringify({ firstName: profile.firstName, headline: profile.headline, company: profile.company, location: profile.location }) }],\n    profile: profile\n  }\n}];"
      }
    },
    {
      "id": "claude-personalise",
      "name": "Claude - Personalise Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1750, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "{{ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ model: $json.model, max_tokens: $json.max_tokens, system: $json.system, messages: $json.messages }) }}"
      }
    },
    {
      "id": "parse-message",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 200],
      "parameters": {
        "jsCode": "const message = $input.first().json.content?.[0]?.text?.trim() || '';\nconst profile = $('Build Claude Request').first().json.profile || {};\nreturn [{ json: { message, profile } }];"
      }
    },
    {
      "id": "save-contact",
      "name": "Save Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2250, 200],
      "parameters": {
        "method": "POST",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ name: $json.profile.fullName, email: $json.profile.email || '', source: 'LinkedIn Outreach', tags: ['linkedin-connected'] }) }}"
      }
    },
    {
      "id": "save-note",
      "name": "Save Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2500, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ '{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts/' + $('Save Contact').first().json.id + '/notes' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ body: 'LinkedIn connection sent via Phantombuster.\\nProfile: ' + $('Parse Message').first().json.profile.profileUrl + '\\nHeadline: ' + $('Parse Message').first().json.profile.headline + '\\nAI follow-up message: ' + $('Parse Message').first().json.message }) }}"
      }
    },
    {
      "id": "reply-webhook",
      "name": "Handle LinkedIn Reply",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-reply-{{CLIENT_ID}}",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "webhookId": "linkedin-reply-{{CLIENT_ID}}"
    },
    {
      "id": "build-classify-request",
      "name": "Build Classify Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 500],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst body = data.body || data;\nconst message = body.message || '';\nconst contactId = body.contactId || '';\nreturn [{\n  json: {\n    model: 'claude-sonnet-4-6',\n    max_tokens: 300,\n    system: 'You are a LinkedIn reply classifier. Analyse the reply and return ONLY valid JSON.',\n    messages: [{ role: 'user', content: 'Classify this LinkedIn reply. Return ONLY valid JSON: {\"intent\":\"interested|not_interested|question|other\",\"responseMessage\":\"suggested reply under 200 chars\"}\\n\\nReply: ' + message }],\n    contactId: contactId,\n    originalMessage: message\n  }\n}];"
      }
    },
    {
      "id": "claude-classify",
      "name": "Claude - Classify Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 500],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "{{ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ model: $json.model, max_tokens: $json.max_tokens, system: $json.system, messages: $json.messages }) }}"
      }
    },
    {
      "id": "parse-classification",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 500],
      "parameters": {
        "jsCode": "const text = $input.first().json.content?.[0]?.text?.trim() || '';\nconst contactId = $('Build Classify Request').first().json.contactId;\nconst originalMessage = $('Build Classify Request').first().json.originalMessage;\nlet result;\ntry {\n  const clean = text.replace(/^```json\\s*/, '').replace(/```\\s*$/, '');\n  result = JSON.parse(clean);\n} catch {\n  result = { intent: 'other', responseMessage: '' };\n}\nresult.contactId = contactId;\nresult.originalMessage = originalMessage;\nreturn [{ json: result }];"
      }
    },
    {
      "id": "save-reply-note",
      "name": "Save Reply Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 500],
      "parameters": {
        "method": "POST",
        "url": "={{ '{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts/' + $json.contactId + '/notes' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ body: 'LinkedIn reply received. Intent: ' + $json.intent + '.\\nMessage: ' + $json.originalMessage + '\\nSuggested response: ' + $json.responseMessage }) }}"
      }
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [[{ "node": "Launch Lead Outreach Phantom", "type": "main", "index": 0 }]]
    },
    "Launch Lead Outreach Phantom": {
      "main": [[{ "node": "Wait 15 Minutes", "type": "main", "index": 0 }]]
    },
    "Wait 15 Minutes": {
      "main": [[{ "node": "Fetch Phantom Output", "type": "main", "index": 0 }]]
    },
    "Fetch Phantom Output": {
      "main": [[{ "node": "Parse Profiles", "type": "main", "index": 0 }]]
    },
    "Parse Profiles": {
      "main": [[{ "node": "Build Claude Request", "type": "main", "index": 0 }]]
    },
    "Build Claude Request": {
      "main": [[{ "node": "Claude - Personalise Follow-up", "type": "main", "index": 0 }]]
    },
    "Claude - Personalise Follow-up": {
      "main": [[{ "node": "Parse Message", "type": "main", "index": 0 }]]
    },
    "Parse Message": {
      "main": [[{ "node": "Save Contact", "type": "main", "index": 0 }]]
    },
    "Save Contact": {
      "main": [[{ "node": "Save Note", "type": "main", "index": 0 }]]
    },
    "Handle LinkedIn Reply": {
      "main": [[{ "node": "Build Classify Request", "type": "main", "index": 0 }]]
    },
    "Build Classify Request": {
      "main": [[{ "node": "Claude - Classify Reply", "type": "main", "index": 0 }]]
    },
    "Claude - Classify Reply": {
      "main": [[{ "node": "Parse Classification", "type": "main", "index": 0 }]]
    },
    "Parse Classification": {
      "main": [[{ "node": "Save Reply Note", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
