apps/api/src/workflows/social-media.workflow.json
{
  "name": "Social Media Agent",
  "active": false,
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Post Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }]
        }
      }
    },
    {
      "id": "claude-generate-content",
      "name": "Claude - Generate Post Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":2048,\"system\":\"{{AGENT_PROMPT}}\",\"messages\":[{\"role\":\"user\",\"content\":\"Create today's social media posts for {{BUSINESS_NAME}}. Return a single JSON object with keys for each platform the business uses: facebook, instagram, linkedin, twitter. Each value should be the post text, tailored for that platform's tone and format. Only include platforms relevant to the business.\"}]}"
      }
    },
    {
      "id": "parse-content",
      "name": "Parse Platform Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text;\nlet content;\ntry { content = JSON.parse(text); } catch { content = { error: 'Failed to parse content' }; }\nreturn [{ json: { content, generatedAt: new Date().toISOString() } }];"
      }
    },
    {
      "id": "post-to-platforms",
      "name": "Post to All Connected Platforms",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 300],
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_BASE_URL}}/n8n/{{CLIENT_ID}}/social/post-all",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "={{$env.N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"content\":$json.content,\"generatedAt\":$json.generatedAt}"
      }
    },
    {
      "id": "log-activity",
      "name": "Log Post Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 300],
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_BASE_URL}}/n8n/{{CLIENT_ID}}/activity",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "={{$env.N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"type\":\"social_post\",\"platforms\":Object.keys($('Parse Platform Content').first().json.content),\"results\":$json.results,\"postedAt\":new Date().toISOString()}"
      }
    },
    {
      "id": "content-brief-webhook",
      "name": "Content Brief Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "parameters": {
        "path": "social-brief-{{CLIENT_ID}}",
        "responseMode": "onReceived"
      },
      "webhookId": "social-brief-{{CLIENT_ID}}"
    }
  ],
  "connections": {
    "Post Schedule": {
      "main": [[{ "node": "Claude - Generate Post Content", "type": "main", "index": 0 }]]
    },
    "Claude - Generate Post Content": {
      "main": [[{ "node": "Parse Platform Content", "type": "main", "index": 0 }]]
    },
    "Parse Platform Content": {
      "main": [[{ "node": "Post to All Connected Platforms", "type": "main", "index": 0 }]]
    },
    "Post to All Connected Platforms": {
      "main": [[{ "node": "Log Post Activity", "type": "main", "index": 0 }]]
    },
    "Content Brief Webhook": {
      "main": [[{ "node": "Claude - Generate Post Content", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
