apps/api/src/workflows/voice-closer.workflow.json
{
  "name": "Voice Closer Agent",
  "active": false,
  "nodes": [
    {
      "id": "closer-ready-webhook",
      "name": "Closer Ready Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "closer-ready-{{CLIENT_ID}}",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "extract-handoff",
      "name": "Extract Handoff Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst body = data.body || data;\nreturn [{ json: { contactId: body.contactId, leadSource: body.leadSource || 'unknown', appointmentTime: body.appointmentTime || '', notes: body.notes || '' } }];"
      }
    },
    {
      "id": "wait-for-appointment",
      "name": "Wait Until Appointment Time",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [750, 300],
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.appointmentTime }}"
      }
    },
    {
      "id": "get-prospect-data",
      "name": "Get Prospect Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ '{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts/' + $json.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" }
          ]
        }
      }
    },
    {
      "id": "build-claude-request",
      "name": "Build Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst contact = data.contact || data;\nconst name = contact.name || 'the prospect';\nconst firstName = name.split(' ')[0];\nconst notes = (contact.notes || []).map(n => n.body || '').join(' ');\nconst handoff = $('Extract Handoff Data').first().json;\nconst leadSource = handoff.leadSource || contact.source || 'unknown';\nreturn [{\n  json: {\n    model: 'claude-sonnet-4-6',\n    max_tokens: 600,\n    system: 'You are a sales closer for {{BUSINESS_NAME}}. Write a short, personalized opening for a SCHEDULED APPOINTMENT call (under 80 words). This person BOOKED this call — they are expecting it. Sound warm, confirm the appointment, and transition into the conversation naturally. Example: Hey [name], this is [agent] from {{BUSINESS_NAME}} — we had this time booked in for a chat, perfect timing! How are you going?',\n    messages: [{ role: 'user', content: 'Write an appointment call opener for ' + firstName + '. They booked this call themselves. Notes: ' + notes }],\n    contactId: contact.id,\n    phone: contact.phone,\n    leadSource: leadSource\n  }\n}];"
      }
    },
    {
      "id": "claude-personalise-script",
      "name": "Claude - Personalise Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "{{ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "contentType": "raw",
        "body": "={{ JSON.stringify({ model: $json.model, max_tokens: $json.max_tokens, system: $json.system, messages: $json.messages }) }}"
      }
    },
    {
      "id": "parse-script",
      "name": "Parse Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst script = resp.content?.[0]?.text?.trim() || '';\nconst req = $('Build Claude Request').first().json;\nreturn [{ json: { script, contactId: req.contactId, phone: req.phone } }];"
      }
    },
    {
      "id": "launch-closing-call",
      "name": "Launch Closing Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1750, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/create-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{RETELL_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "contentType": "raw",
        "body": "={{ JSON.stringify({ agent_id: '{{RETELL_AGENT_ID}}', to_number: $json.phone, from_number: '{{PHONE_NUMBER}}', metadata: { contactId: $json.contactId, script: $json.script } }) }}"
      }
    },
    {
      "id": "closer-result-webhook",
      "name": "Closing Call Result Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 600],
      "parameters": {
        "httpMethod": "POST",
        "path": "closer-result-{{CLIENT_ID}}",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "build-analysis-request",
      "name": "Build Analysis Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 600],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst call = data.body?.call || data.call || data;\nconst transcript = call.transcript || '';\nconst contactId = call.metadata?.contactId || '';\nreturn [{\n  json: {\n    model: 'claude-sonnet-4-6',\n    max_tokens: 500,\n    system: 'Analyse this sales closing call. Return ONLY valid JSON: {\"outcome\":\"CLOSED_WON|CLOSED_LOST|FOLLOW_UP_NEEDED\",\"reason\":\"brief reason\",\"nextAction\":\"what to do next\"}',\n    messages: [{ role: 'user', content: 'Analyse this closing call transcript: ' + transcript }],\n    contactId: contactId\n  }\n}];"
      }
    },
    {
      "id": "claude-analyse-outcome",
      "name": "Claude - Analyse Outcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 600],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "{{ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "contentType": "raw",
        "body": "={{ JSON.stringify({ model: $json.model, max_tokens: $json.max_tokens, system: $json.system, messages: $json.messages }) }}"
      }
    },
    {
      "id": "parse-close-outcome",
      "name": "Parse Close Outcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 600],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst raw = resp.content?.[0]?.text?.trim() || '';\nconst clean = raw.replace(/```json\\n?|```/g, '').trim();\nlet result;\ntry { result = JSON.parse(clean); } catch { result = { outcome: 'FOLLOW_UP_NEEDED', reason: 'Parse error', nextAction: 'Manual review required' }; }\nconst contactId = $('Build Analysis Request').first().json.contactId;\nreturn [{ json: { ...result, contactId } }];"
      }
    },
    {
      "id": "save-deal-outcome",
      "name": "Save Deal Outcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 600],
      "parameters": {
        "method": "POST",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/deal-outcomes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "contactId", "value": "={{ $('Parse Close Outcome').first().json.contactId }}" },
            { "name": "outcome", "value": "={{ $('Parse Close Outcome').first().json.outcome }}" },
            { "name": "reason", "value": "={{ $('Parse Close Outcome').first().json.reason }}" }
          ]
        }
      }
    },
    {
      "id": "if-closed-won",
      "name": "IF CLOSED_WON",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1500, 600],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "outcome-check",
              "leftValue": "={{ $('Parse Close Outcome').first().json.outcome }}",
              "rightValue": "CLOSED_WON",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "send-payment-link",
      "name": "Send Payment Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1750, 500],
      "parameters": {
        "method": "POST",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/messages/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "contactId", "value": "={{ $('Parse Close Outcome').first().json.contactId }}" },
            { "name": "to", "value": "={{ $('Get Prospect Data').first().json.contact?.email || '' }}" },
            { "name": "subject", "value": "Welcome aboard — your confirmation details" },
            { "name": "html", "value": "={{ '<p>Hi ' + ($('Get Prospect Data').first().json.contact?.name || 'there').split(' ')[0] + ',</p><p>Great chatting just now! Welcome to the {{BUSINESS_NAME}} family.</p><p>If you still need to complete your purchase, here\\'s your link:</p><p><a href=\"{{PAYMENT_LINK}}\" style=\"display:inline-block;padding:12px 24px;background:#4F46E5;color:#fff;border-radius:8px;text-decoration:none;font-weight:bold\">Complete Your Purchase →</a></p><p>If you have any questions at all, just reply to this email — I\\'m here.</p><p>Talk soon,<br>The {{BUSINESS_NAME}} team</p>' }}" }
          ]
        }
      }
    },
    {
      "id": "send-payment-sms",
      "name": "Send Payment SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1750, 400],
      "parameters": {
        "method": "POST",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/messages/sms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "contactId", "value": "={{ $('Parse Close Outcome').first().json.contactId }}" },
            { "name": "to", "value": "={{ $('Get Prospect Data').first().json.contact?.phone || '' }}" },
            { "name": "body", "value": "={{ 'Hey ' + ($('Get Prospect Data').first().json.contact?.name || '').split(' ')[0] + '! Great chatting just now. Welcome aboard! If you still need to complete your purchase, here\\'s the link: {{PAYMENT_LINK}} — Any questions, just text me back!' }}" }
          ]
        }
      }
    },
    {
      "id": "schedule-follow-up",
      "name": "Schedule Follow-Up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1750, 700],
      "parameters": {
        "method": "POST",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "contactId", "value": "={{ $('Parse Close Outcome').first().json.contactId }}" },
            { "name": "title", "value": "={{ 'Follow up closing call — ' + $('Parse Close Outcome').first().json.reason }}" },
            { "name": "body", "value": "={{ 'Outcome: ' + $('Parse Close Outcome').first().json.outcome + '. Next action: ' + $('Parse Close Outcome').first().json.nextAction }}" },
            { "name": "dueAt", "value": "={{ new Date(Date.now() + 48 * 60 * 60 * 1000).toISOString() }}" }
          ]
        }
      }
    }
  ],
  "connections": {
    "Closer Ready Webhook": {
      "main": [[{ "node": "Extract Handoff Data", "type": "main", "index": 0 }]]
    },
    "Extract Handoff Data": {
      "main": [[{ "node": "Wait Until Appointment Time", "type": "main", "index": 0 }]]
    },
    "Wait Until Appointment Time": {
      "main": [[{ "node": "Get Prospect Data", "type": "main", "index": 0 }]]
    },
    "Get Prospect Data": {
      "main": [[{ "node": "Build Claude Request", "type": "main", "index": 0 }]]
    },
    "Build Claude Request": {
      "main": [[{ "node": "Claude - Personalise Script", "type": "main", "index": 0 }]]
    },
    "Claude - Personalise Script": {
      "main": [[{ "node": "Parse Script", "type": "main", "index": 0 }]]
    },
    "Parse Script": {
      "main": [[{ "node": "Launch Closing Call", "type": "main", "index": 0 }]]
    },
    "Closing Call Result Webhook": {
      "main": [[{ "node": "Build Analysis Request", "type": "main", "index": 0 }]]
    },
    "Build Analysis Request": {
      "main": [[{ "node": "Claude - Analyse Outcome", "type": "main", "index": 0 }]]
    },
    "Claude - Analyse Outcome": {
      "main": [[{ "node": "Parse Close Outcome", "type": "main", "index": 0 }]]
    },
    "Parse Close Outcome": {
      "main": [[{ "node": "Save Deal Outcome", "type": "main", "index": 0 }]]
    },
    "Save Deal Outcome": {
      "main": [[{ "node": "IF CLOSED_WON", "type": "main", "index": 0 }]]
    },
    "IF CLOSED_WON": {
      "main": [
        [{ "node": "Send Payment Link", "type": "main", "index": 0 }, { "node": "Send Payment SMS", "type": "main", "index": 0 }],
        [{ "node": "Schedule Follow-Up", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
