apps/api/src/workflows/voice-outbound.workflow.json
{
  "name": "Voice Outbound Agent",
  "active": false,
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Call Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 10 * * 1-5" }]
        }
      }
    },
    {
      "id": "fetch-call-list",
      "name": "Fetch Call List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "={{$env.API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "={{$env.N8N_API_SECRET}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "stage", "value": "outbound-queue" },
            { "name": "limit", "value": "50" }
          ]
        }
      }
    },
    {
      "id": "launch-outbound-call",
      "name": "Launch Call via Retell AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer ={{$env.RETELL_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"agent_id\":\"{{RETELL_AGENT_ID}}\",\"to_number\":$json.contacts?.[0]?.phone,\"from_number\":\"{{PHONE_NUMBER}}\",\"metadata\":{\"contactId\":$json.contacts?.[0]?.id,\"firstName\":$json.contacts?.[0]?.firstName}}"
      }
    },
    {
      "id": "call-complete-webhook",
      "name": "Call Completed Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 500],
      "parameters": {
        "path": "voice-outbound-{{CLIENT_ID}}",
        "options": {}
      },
      "webhookId": "voice-outbound-{{CLIENT_ID}}"
    },
    {
      "id": "get-call-result",
      "name": "Get Call Result from Retell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 500],
      "parameters": {
        "method": "GET",
        "url": "=`https://api.retellai.com/v2/get-call/${$json.call_id}`",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer ={{$env.RETELL_API_KEY}}" }
          ]
        }
      }
    },
    {
      "id": "claude-analyse-outcome",
      "name": "Claude - Analyse Call Outcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 500],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":500,\"system\":\"{{AGENT_PROMPT}}\",\"messages\":[{\"role\":\"user\",\"content\":\"Analyse this outbound call. Return JSON: { outcome (INTERESTED|CALLBACK|NOT_INTERESTED|VOICEMAIL|NO_ANSWER), nextAction, followUpSMS }. Transcript: \" + $json.transcript}]}"
      }
    },
    {
      "id": "parse-outcome",
      "name": "Parse Outcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 500],
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text;\nlet result;\ntry { result = JSON.parse(text); } catch { result = { outcome: 'NO_ANSWER', nextAction: 'retry', followUpSMS: '' }; }\nconst contactId = $('Call Completed Webhook').first().json.metadata?.contactId || '';\nreturn [{ json: { ...result, contactId } }];"
      }
    },
    {
      "id": "save-call-outcome",
      "name": "Save Call Outcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 500],
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_BASE_URL}}/n8n/{{CLIENT_ID}}/call-outcomes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "={{$env.N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contactId\":$json.contactId,\"outcome\":$json.outcome,\"nextAction\":$json.nextAction}"
      }
    },
    {
      "id": "send-followup-sms",
      "name": "Send Follow-up Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 500],
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_BASE_URL}}/n8n/{{CLIENT_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "={{$env.N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contactId\":$json.contactId,\"type\":\"SMS\",\"message\":$json.followUpSMS}"
      }
    }
  ],
  "connections": {
    "Call Schedule": {
      "main": [[{ "node": "Fetch Call List", "type": "main", "index": 0 }]]
    },
    "Fetch Call List": {
      "main": [[{ "node": "Launch Call via Retell AI", "type": "main", "index": 0 }]]
    },
    "Call Completed Webhook": {
      "main": [[{ "node": "Get Call Result from Retell", "type": "main", "index": 0 }]]
    },
    "Get Call Result from Retell": {
      "main": [[{ "node": "Claude - Analyse Call Outcome", "type": "main", "index": 0 }]]
    },
    "Claude - Analyse Call Outcome": {
      "main": [[{ "node": "Parse Outcome", "type": "main", "index": 0 }]]
    },
    "Parse Outcome": {
      "main": [[{ "node": "Save Call Outcome", "type": "main", "index": 0 }]]
    },
    "Save Call Outcome": {
      "main": [[{ "node": "Send Follow-up Message", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
