apps/api/src/workflows/voice-inbound.workflow.json
{
  "name": "Voice Inbound Agent",
  "active": false,
  "nodes": [
    {
      "id": "call-completed-webhook",
      "name": "Call Completed Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-inbound-{{CLIENT_ID}}",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "webhookId": "voice-inbound-{{CLIENT_ID}}"
    },
    {
      "id": "build-claude-request",
      "name": "Build Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const call = $input.first().json.call;\nconst fromNumber = call.from_number || 'unknown';\nconst transcript = call.transcript || 'No transcript available';\n\nreturn [{\n  json: {\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 1024,\n    system: 'You are a call analysis assistant. Extract caller information from business phone call transcripts. Always return valid JSON only — no markdown, no explanation, no code fences.',\n    messages: [{\n      role: 'user',\n      content: 'Analyse this inbound business phone call. The caller incoming phone number is: ' + fromNumber + '.\\n\\nReturn ONLY valid JSON with this exact structure:\\n{\"callerName\":\"string or Unknown\",\"callerPhone\":\"string — use incoming number if caller did not provide one\",\"callerEmail\":\"string or empty\",\"intent\":\"why they called\",\"appointmentRequested\":true or false,\"summary\":\"1-2 sentence summary\",\"actionItems\":\"next steps or empty string\"}\\n\\nTranscript:\\n' + transcript\n    }]\n  }\n}];"
      }
    },
    {
      "id": "claude-analyse-call",
      "name": "Claude - Analyse Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "{{ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      }
    },
    {
      "id": "parse-call-analysis",
      "name": "Parse Call Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text.trim();\nlet result;\ntry {\n  const clean = text.replace(/^```json\\s*/,'').replace(/```\\s*$/,'');\n  result = JSON.parse(clean);\n} catch {\n  result = { callerName: 'Unknown', callerPhone: '', callerEmail: '', intent: 'unknown', appointmentRequested: false, summary: text, actionItems: '' };\n}\nreturn [{ json: result }];"
      }
    },
    {
      "id": "save-contact",
      "name": "Save Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 300],
      "parameters": {
        "method": "POST",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $('Parse Call Analysis').first().json.callerName, phone: $('Parse Call Analysis').first().json.callerPhone, email: $('Parse Call Analysis').first().json.callerEmail, source: 'Inbound Call', tags: ['inbound-call'], intent: $('Parse Call Analysis').first().json.intent }) }}"
      }
    },
    {
      "id": "save-call-note",
      "name": "Save Call Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ '{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/contacts/' + $json.id + '/notes' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: 'Inbound call summary: ' + $('Parse Call Analysis').first().json.summary + '\\nAction items: ' + $('Parse Call Analysis').first().json.actionItems }) }}"
      }
    },
    {
      "id": "check-appointment",
      "name": "Appointment Requested?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1500, 400],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Parse Call Analysis').first().json.appointmentRequested }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "book-appointment",
      "name": "Book Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1750, 400],
      "parameters": {
        "method": "POST",
        "url": "{{API_BASE_URL}}/n8n/{{CLIENT_ID}}/appointments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "{{N8N_API_SECRET}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contactId: $('Save Contact').first().json.id, calendarId: '{{CALENDAR_ID}}', title: 'Follow-up from Inbound Call - ' + $('Parse Call Analysis').first().json.callerName }) }}"
      }
    },
    {
      "id": "calendar-webhook",
      "name": "Calendar Booking Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-calendar-{{CLIENT_ID}}",
        "responseMode": "onReceived"
      },
      "webhookId": "voice-calendar-{{CLIENT_ID}}"
    }
  ],
  "connections": {
    "Call Completed Webhook": {
      "main": [[{ "node": "Build Claude Request", "type": "main", "index": 0 }]]
    },
    "Build Claude Request": {
      "main": [[{ "node": "Claude - Analyse Call", "type": "main", "index": 0 }]]
    },
    "Claude - Analyse Call": {
      "main": [[{ "node": "Parse Call Analysis", "type": "main", "index": 0 }]]
    },
    "Parse Call Analysis": {
      "main": [[{ "node": "Save Contact", "type": "main", "index": 0 }]]
    },
    "Save Contact": {
      "main": [
        [
          { "node": "Save Call Note", "type": "main", "index": 0 },
          { "node": "Appointment Requested?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Appointment Requested?": {
      "main": [
        [{ "node": "Book Appointment", "type": "main", "index": 0 }],
        []
      ]
    },
    "Calendar Booking Webhook": {
      "main": [[{ "node": "Book Appointment", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
