apps/api/src/workflows/voice-inbound.workflow.json
{
  "name": "Voice Inbound Agent",
  "active": false,
  "nodes": [
    {
      "id": "call-completed-webhook",
      "name": "Call Completed Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "voice-inbound-{{CLIENT_ID}}",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "webhookId": "voice-inbound-{{CLIENT_ID}}"
    },
    {
      "id": "get-transcript",
      "name": "Get Call Transcript from Retell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "=`https://api.retellai.com/v2/get-call/${$json.call_id}`",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer ={{$env.RETELL_API_KEY}}" }
          ]
        }
      }
    },
    {
      "id": "claude-analyse-call",
      "name": "Claude - Analyse Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":1024,\"system\":\"{{AGENT_PROMPT}}\",\"messages\":[{\"role\":\"user\",\"content\":\"Analyse this call transcript and extract: caller name, contact info, intent, appointment request (if any), and action items. Return as JSON with fields: callerName, callerPhone, callerEmail, intent, appointmentRequested (boolean), summary, actionItems. Transcript: \" + $json.transcript}]}"
      }
    },
    {
      "id": "parse-call-analysis",
      "name": "Parse Call Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text;\nlet result;\ntry { result = JSON.parse(text); } catch { result = { callerName: 'Unknown', callerPhone: '', callerEmail: '', intent: 'unknown', appointmentRequested: false, summary: text, actionItems: '' }; }\nreturn [{ json: result }];"
      }
    },
    {
      "id": "create-ghl-contact",
      "name": "Create/Update GHL Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200],
      "parameters": {
        "method": "POST",
        "url": "={{$env.GHL_BASE_URL}}/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer ={{$env.GHL_API_KEY}}" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"locationId\":\"{{LOCATION_ID}}\",\"firstName\":$json.callerName?.split(' ')[0] || 'Unknown',\"phone\":$json.callerPhone,\"email\":$json.callerEmail,\"source\":\"Inbound Call\",\"tags\":[\"inbound-call\"]}"
      }
    },
    {
      "id": "add-call-note",
      "name": "Add Call Note to GHL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 200],
      "parameters": {
        "method": "POST",
        "url": "={{$env.GHL_BASE_URL}}/contacts/{{$json.id}}/notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer ={{$env.GHL_API_KEY}}" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"locationId\":\"{{LOCATION_ID}}\",\"body\":\"Inbound call summary: \" + $('Parse Call Analysis').first().json.summary + \"\\n\\nAction items: \" + $('Parse Call Analysis').first().json.actionItems}"
      }
    },
    {
      "id": "book-appointment",
      "name": "Book Appointment if Requested",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 400],
      "parameters": {
        "method": "POST",
        "url": "={{$env.GHL_BASE_URL}}/appointments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer ={{$env.GHL_API_KEY}}" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"locationId\":\"{{LOCATION_ID}}\",\"calendarId\":\"{{CALENDAR_ID}}\",\"contactId\":$json.id,\"title\":\"Follow-up from Inbound Call\"}"
      }
    },
    {
      "id": "calendar-webhook",
      "name": "Calendar Booking Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "parameters": {
        "path": "voice-calendar-{{CLIENT_ID}}",
        "responseMode": "onReceived"
      },
      "webhookId": "voice-calendar-{{CLIENT_ID}}"
    }
  ],
  "connections": {
    "Call Completed Webhook": {
      "main": [[{ "node": "Get Call Transcript from Retell", "type": "main", "index": 0 }]]
    },
    "Get Call Transcript from Retell": {
      "main": [[{ "node": "Claude - Analyse Call", "type": "main", "index": 0 }]]
    },
    "Claude - Analyse Call": {
      "main": [[{ "node": "Parse Call Analysis", "type": "main", "index": 0 }]]
    },
    "Parse Call Analysis": {
      "main": [
        [{ "node": "Create/Update GHL Contact", "type": "main", "index": 0 }],
        [{ "node": "Book Appointment if Requested", "type": "main", "index": 0 }]
      ]
    },
    "Create/Update GHL Contact": {
      "main": [[{ "node": "Add Call Note to GHL", "type": "main", "index": 0 }]]
    },
    "Calendar Booking Webhook": {
      "main": [[{ "node": "Book Appointment if Requested", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
